/***      HEADER    ***/

.ct-container-fluid {               /* Suppression du marging qui est mis par défaut sur le header du thème */
  margin: 0 !important;
  width: 100% !important;
  max-width: 1440px;
}

.menu :hover {                      /* Configuration du Hover de "Nous rencontrer" */
  font-size: 13px !important;
  font-weight: 700 !important;
}

/***    BODY    ***/

body {                              /* limitation de la taille de la page à 1440 px */
  max-width: 1440px !important;
  margin: auto !important;
}



/***    ACCUEIL     ***/

.separateur,
.separateur-2,
.separateur-3 {
  width: 100%;
  height: 31px;
  background-color: #ECE2DA;
  border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
}

.separateur {
  border-bottom: 10px solid #E3D9D0;
}

.separateur-3 {
  height: 70px;
}        



/***    NOUS RENCONTRER     ***/

/* Mise en forme du formulaire de contact */

.contact-form {
  margin: 0 auto;
  padding: 0;
  max-width: 383px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form-titre {
  width: 383px !important;
  height: 24px;
  margin-bottom: 13px !important;
}

.form-champ {
  width: 100%;
  margin-bottom: 22px;

}

.form-champ p input,
.form-champ-2 p input {
  height: 71px;
}

.form-message {
  width: 100%;
  margin-bottom: 24px;
}

.form-message p textarea {
  height: 237px;
  padding: 5px 12px;
}

.form-champ p input,
.form-champ-2 p input,
.form-champ p input:focus,
.form-champ-2 p input:focus,
.form-message p textarea {
  background-color: #ffffff;
  border: none;
  border-radius: 7px;
}

.form-bouton,
.form-bouton-2 {
  width: 198px;
  margin: auto;
}

.form-bouton p input,
.form-bouton-2 p input {
  background-color: #E0B9B4;
  width: 100%;
  min-height: 55px !important;
  padding: 9px 0;
  font-size: 15px;
  border: none;
  border-radius: 5px;
}

.wpcf7-spinner {        /* suppression de l'affichage du spinner */
  display: none;
}



/***    COMMANDER   ***/

/* Mise en forme du bouton de quantité */

.quantite-bloc {
  width: 82px;
  height: 56px;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 5px;
}
  
.quantite {
  width: 51px !important;
}

.quantite input {
  width: 100%;
  text-align: center;
  font-family: inter !important;
  font-size: 16px !important;
  border: none !important;
}
  
.quantite-boutons {
  width: 31px;
  height: 100%;
  background-color: #DC9F96;
  color: white;
  font-size: 20px;
  border-radius: 0 5px 5px 0;
}
  
.bouton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 27px;
  cursor: pointer;
}
  
.separation {
  border-bottom: solid 1px white
}

/* Suppression de l'affichage des bouton d'incrémentation sur les navigateurs */

/* Firefox */
/*input[type=number] {
  -moz-appearance: textfield;
}*/

/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin:0;
}
  
/* Mise en forme du formulaire */

.commande-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 442px;
  margin: 0 20% 0 20%;
  padding: 0;
}

.commande-form h2,
.commande-form p {
  color: #ffffff;
  text-align: left;
}

.commande-form h2 {
  margin-bottom: 29px !important;
}

.info-form {
  max-width: 100%;
  padding-right: 45px;
}

.livraison-form {
  max-width: 100%;
  padding-left: 44px;
  border-left: 1px solid #ffffff;
}

.form-bouton-2 p input {
  margin: 44px 0 93px;
}


/***    RESPONSIVE    ***/

@media screen and (min-width: 1024px) and (max-width: 1439px) {


 /*** Accueil ***/

  .testimonial {
    width: 100%;
    margin: 0;
    padding: 0 5px !important;
    gap: 0.8% !important;
  }

  .testi-texte {
    padding-left: 2px !important;
  }

}


/*** Nous rencontrer ***/

/* Images "Nous rencontrer" */

@media screen and (min-width: 1024px) and (max-width: 1123px) {
  .rencontre-img {
    left: 2% !important
  }

  .contact-img {
    left: 26.3% !important;
  }

  .section-equipe {
    margin-bottom: 10px !important;
  }

  .equipe-img {
    left: 87% !important;
    top: 79px !important
  }

  .equipe-img img {
    width: 85% !important;
    height: 149px !important;
  }

}

@media screen and (min-width: 1124px) and (max-width: 1223px) {
  .rencontre-img {
    left: 7% !important
  }

  .contact-img {
    left: 28% !important;
  }

  .section-equipe {
    margin-bottom: 1% !important;
  }

  .equipe-img {
    left: 86% !important;
  }

  .equipe-img img {
    width: 85% !important;
    height: 149px !important;
  }

}

@media screen and (min-width: 1224px) and (max-width: 1323px) {
  .rencontre-img {
    left: 11% !important
  }

  .contact-img {
    left: 29.5% !important;
  }

  .section-equipe {
    margin-bottom: 6% !important;
  }

  .equipe-img img {
    height: 199px !important;
  }

}

@media screen and (min-width: 320px) and (max-width: 1023px) {


  /*** Global ***/

  .ct-container-full {
    padding: 0 !important;
  }

  .h2-mobile {
    font-size: 24px !important;
  }

  .h3-mobile {
    font-size: 22px !important;
  }

  .p-mobile {
    font-size: 18px !important;
  }

  .pad-left-right-mobile {
    padding: 0 15px !important;
  }

  .pad-top-mobile {
    padding-top: 30px !important;
  }

  .pad-bot-mobile {
    padding-bottom: 30px !important;
  }

  .centre-titre {
    text-align: center !important;
  }


  /*** Accueil ***/

  .img-titre-mobile {
    max-width: 400px !important;
    margin: -30px auto 0 !important;
    padding: 0 10px !important;
    align-items: center;
  }

  .gout-mobile {
    margin: 0 auto !important;
    padding: 0 15px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    gap: 30px;
  }

  .gout-img-mobile {
    margin: 0 !important;
    padding: 0 !important;
  }


  /*** Nous Rencontrer ***/

  .wpr-team-member {
    width: 88% !important;
    margin: 0 6% !important;
  }

  .wpr-member-media {
    width: 143px !important;
    min-width: 143px !important;
  }

  .wpr-member-image {
    width: 143px !important;  
  }

  /* Formulaire */

  #wpcf7-f277-p537-o1 {
    width: 100% !important;
  }

  .contact-form {
    width: 100% !important;
    height: 600px !important;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    margin: 0 auto !important;
    padding: 0 10px !important;
  }

  .contact-form p {
    width: 100% !important;
  }


  /*** Commander ***/

  /* Formulaire */ 

  .wpcf7 {
    width: 80% !important;
  }

  .wpcf7-form {
    width: 100% !important;
  }

  .commande-form {
    width: 100% !important;
    height: 800px !important;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    margin: 0 !important;
  }
  
  .commande-form h2 {
    font-size: 22px !important;
    text-align: center !important;
    margin-bottom: 15px !important;
  }

  .info-form {
    width: 100%;
    padding: 0 !important;
  }
  
  .livraison-form {
    width: 100% !important;
    margin-top: 30px;
    padding: 0 !important;
    border-top: 1px solid #ffffff;
    border-left: none;
  }

  .livraison-form h2 {
    padding-top: 20px;
  }

  .form-champ p input {
    height: 50px;
  }
  
  .form-bouton-2 p input {
    margin: 24px 0 93px;
  }

}