/***      HEADER    ***/

.ct-container-fluid {               /* Suppression du marging qui est mis par défaut sur le header du thème */
    margin: 0 !important;
    width: 100% !important;
    max-width: 1440px;
}

.menu :hover {                      /* Configuration du Hover de "Nous rencontrer" */
     font-size: 13px !important;
     font-weight: 700 !important;
}

/***    BODY    ***/

body {                              /* limitation de la taille de la page à 1440 px */
    max-width: 1440px !important;
    margin: auto !important;
}

/***    NOUS RENCONTRER     ***/

/* Mise en forme du formulaire de contact */

.wpcf7 {                /* centrage du formulaire sur la page */
    margin: 0 auto;
    max-width: 383px;
}

.wpcf7-form {           /* centrage des champs */
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
}

.wpcf7-spinner {        /* suppression des effets du spinner qui empêchent le centrage du bouton d'envoi */
    width: 0 !important;
    margin: 0 !important;
}

.wpcf7-form p {
    margin-bottom: 22px;
}

.wpcf7-text,
.wpcf7-textarea {
    background-color: #ffffff !important;
    border: none !important;
    border-radius: 7px !important;
    width: 383px !important;
}

.wpcf7-textarea {
    height: 237px;
}

.wpcf7-submit {                             /* personnalisation du bouton d'envoi */
    background-color: #E0B9B4 !important;
    width: 198px !important;
    min-height: 37px !important;
    margin-top: 2px !important;
    margin-bottom: 42px;
    padding: 9px 0 !important;
    border-radius: 5px !important;
    font-size: 15px !important;
}

.wpcf7-submit:hover {
    background-color: #C02E44 !important;
}

