/***      HEADER    ***/

/* Suppression du marging qui est mis par défaut sur le header du thème */

.ct-container-fluid {
    margin: 0 !important;
    width: 100% !important;
}

/* Configuration du Hover de "Nous rencontrer" */

.menu :hover {
     font-size: 13px !important;
     font-weight: 700 !important;
}

